.cf {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.alerts {
  width: 25rem;
  top: 8rem;
  right: 3rem;
  position: fixed;
  z-index: 9999;
  list-style:none;
}
  
.alert {
  width: 100%;
  margin-bottom: 8px;
  display:block;
  position:relative;
  border-left:4px solid;
  right:-50px;
  opacity:0;
  line-height:1;
  padding: 0;
  transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms; 
  @extend .cf;
  display: table;
}

.alert:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
  
.open {
  right:0;
  opacity:1;
  line-height: 2;
  padding: 10px 15px;
}
  
.alert-title {
  font-weight: bold;
}
  
.alert-block {
  width: 80%;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  text-align: left;
  em, small {
    font-size: .75em;
    opacity: .75;
  }
}
  
.alert i {
  font-size: 2.5rem;
  width: 1.5em;
  max-height: 48px;
  top: 50%;
  margin-top: -12px;
  display: table-cell;
  vertical-align: middle;
}
    
  
.alert-success {
  color: #fff;
  border-color: #539753;
  background-color: #8fbf2f;
}
  
.alert-warning {
  color: #fff;
  border-color: #dd6137;
  background-color: #f7931d;
}

.alert-error {
  color: #fff;
  border-color: #7f0709;
  background-color: #bf074b;
}

.alert-info {
  color: #fff;
  border-color: #076d91;
  background-color: #3397db;
}