.profile-section {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.profile-btn {
  margin-top: 1.5rem;
}

.profile-title {
  width: 100%;
  display: block;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom:2rem;
}